<agm-map *ngIf="!isFinished" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
  <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
              (dragEnd)="markerDragEnd($event)"></agm-marker>
</agm-map>

<div *ngIf="tweets ">
  <app-maps [getTweets]="tweets"></app-maps>
</div>

<div *ngIf="isFinished && !tweets ">
  <div class="alert alert-danger" role="alert">
    NO TWEETS AROUND HERE RECENTLY ! PLEASE TRY ANOTHER LOCATION.
  </div>
</div>
