<div *ngIf="infoContent">
  <mat-card class="example-card mb-lg-5 TweetText">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img src="{{infoContent.photo}}">
      </div>
      <mat-card-title>{{ infoContent.screenName }}</mat-card-title>
      <mat-card-subtitle>{{infoContent.location}}</mat-card-subtitle>
      <mat-card-subtitle>{{infoContent.date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{infoContent.text}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="btn btn-outline-primary">
        <fa-icon [icon]=""></fa-icon>
        Retweet {{infoContent.retweetCount}}</button>
      <button class="btn btn-outline-danger ">Fav {{infoContent.favoriteCount}}</button>
    </mat-card-actions>
  </mat-card>
</div>
<google-map height="400px"
            width="100%"
            [zoom]="zoom"
            [center]="center"
            [options]="options">

  <map-marker
    *ngFor="let marker of markers"
    [position]="marker.position"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="selectMarker(marker)"

  ></map-marker>


</google-map>


