/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    background: rgb(238, 238, 238);
    padding: 1em;
    margin-right: 10px;
    width: 20%;
    height: 200px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
      word-wrap: break-word;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}*/
.mat-form-field{
  width: 100%;
}
mat-grid-tile {
  background:  #52a2f3;
}
.name:hover{
  transform: scale(2.5);
}
.name{
  color:white;
  font-size: 1rem;
}
