<h1> Global trends</h1>
<div>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <mat-form-field appearance="fill" >
      <mat-label>trends for a place...</mat-label>
      <input matInput id="lieu" formControlName="lieu">
    </mat-form-field>
  </form>
</div>
<!--
<ul *ngIf="trends">
  <li *ngFor="let trend of trends">

        <p class="name"><a href="#" [routerLink]="['/tweetsFromHashtag',trend.name]">{{ trend.name }}</a></p>

  </li>
</ul>-->

<mat-grid-list cols="3" rowHeight="2:1">

  <mat-grid-tile *ngFor="let trend of trends">
    <p class="name">{{ trend.name }}</p>
  </mat-grid-tile>

</mat-grid-list>
