<header>
  <div class="container">
    <a routerLink="/" class="logo"><img src="../assets/logo.png">Twitter App
    </a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/tweetsFromHashtag">Look for an #</a></li>
        <li><a href="#" [routerLink]="['/tweetFromLocation']">What's happening there?</a></li>

      </ul>
    </nav>
  </div>

</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
