<h1>Tweets related to <span *ngIf="hashtag">{{hashtag}}</span>  </h1>
<!--formulaire de recherche-->
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <mat-form-field appearance="fill">
    <mat-label>looking for...</mat-label>
    <input matInput id="searchHashtag" formControlName="searchHashtag">
  </mat-form-field>
</form>

<div *ngIf="tweets">
  <app-maps [getTweets]="tweets" [isReloaded]="reload"></app-maps>
</div>
